<a href="https://colab.research.google.com/github/usalma1990/Analysis-of-NYC-School-data/blob/main/python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
print("Welcome to the class")

Welcome to the class

In [2]:
print('Welcome')

Welcome

In [4]:
#if else
a=20
b=10
if(a>b):
   print("a is bigger")
else:
   print("b is bigger")

a is bigger

In [6]:
a=200
b=300
if(a>b):
    print("a is big")
else:
    print("b is big")

b is big

In [8]:
x=5.123
int(x)

5

In [16]:
age=int(input("enter your age"))
if age>=6:
    print("you can go to school")
else:
    print("you cannot go")

enter your age3
you cannot go

In [18]:
# for statement : this will print from 1 to 5
for i in [1,2,3,4,5]:
    print(i)

1
2
3
4
5

In [19]:
# generates a random list of numbers from 0 to 99
for i in range(100):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

In [20]:
#to print from numbers 1 to 10
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [21]:
#to print all the odd nos from 1 to 10
for i in range(1,11,2):
    print(i)

1
3
5
7
9

In [26]:
#even nos from 1 to 10
for i in range(2,12,2):
    print(i)

2
4
6
8
10

In [29]:
for i in range(10):
    print(i)
    if i==5:
      break

0
1
2
3
4
5

In [28]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9