<a href="https://colab.research.google.com/github/usalma1990/Analysis-of-NYC-School-data/blob/main/python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Welcome to the class")

Welcome to the class

In [ ]:
print('Welcome')

Welcome

In [ ]:
#if else
a=20
b=10
if(a>b):
   print("a is bigger")
else:
   print("b is bigger")

a is bigger

In [ ]:
a=200
b=300
if(a>b):
    print("a is big")
else:
    print("b is big")

b is big

In [ ]:
x=5.123
int(x)

5

In [ ]:
age=int(input("enter your age"))
if age>=6:
    print("you can go to school")
else:
    print("you cannot go")

enter your age3
you cannot go

In [ ]:
# for statement : this will print from 1 to 5
for i in [1,2,3,4,5]:
    print(i)

1
2
3
4
5

In [ ]:
# generates a random list of numbers from 0 to 99
for i in range(100):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

In [ ]:
#to print from numbers 1 to 10
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [ ]:
#to print all the odd nos from 1 to 10
for i in range(1,11,2):
    print(i)

1
3
5
7
9

In [ ]:
#even nos from 1 to 10
for i in range(2,12,2):
    print(i)

2
4
6
8
10

In [ ]:
for i in range(10):
    print(i)
    if i==5:
      break

0
1
2
3
4
5

In [ ]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [1]:
# iterating through the list using while
lst = [10,20,30,40,50,60,70,80,90]
i=0
while i<9:
  print(lst[i])
  i=i+1

10
20
30
40
50
60
70
80
90

In [2]:
#iterating through the list using for
lst = [10,20,30,40,50,60,70,80,90]
for e in lst:
  print(e)

10
20
30
40
50
60
70
80
90

In [6]:
# total of all the elements in list
lst = [10,20,30,40,50,60,70,80,90]
total=0
for e in lst:
  total = total+e
print(f'your total is {total}')

your total is 450

In [7]:
l = [10,20,30]
print(l*3) # repeat three times

[10, 20, 30, 10, 20, 30, 10, 20, 30]

In [8]:
list1=[8,0,9,5]
print(list1[::-1])

[5, 9, 0, 8]